fieldset {
  width: max-content;
  background-color: antiquewhite;
  margin: 0 auto 0 auto;
  display: block;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.26) 5px 5px 5px 5px;
}

legend {
  font-size: 20px;
  border: 1px solid rgb(203, 208, 212);
  border-radius: 5px;
  background-color: rgba(203, 208, 212, 0.829);
  text-align: center;
  font-weight: 900;
  padding: 3px;
}

input {
  width: 250px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(245, 243, 240, 0.658);
}

#psw,
#psw2,
#psw3 {
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  float: right;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}

button:hover {
  background-color: blanchedalmond;
}

#asd {
  margin: 20px auto 0 auto;
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}
