
@import url("reset.css");

body {
    background-color: #94b9af;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color:#333
}

img {
    margin: auto;
    display: flex;
}

p {
    padding: 10px;
}

#feladat {
    text-align: center;
}

#boritas {
    margin: 0 auto;
    width: 1000px;
}

#fejlecboritas {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#oldal {
    width: 140px;
    height: 450px;
    border-radius: 10px;
}

#fejlec {
    height: 75px;
    background: #9d8420;
    border-radius: 10px;
    border: 1px solid #9d8420;
    margin: 5px;   
    margin-bottom: -20px;
}

#keplink {
    border-radius: 10px;
    width: 650px;
    padding-bottom: 5px;
    height: 360px;
}

#navigacioboritas {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigacio {
    margin: 5px;
}

#kontentboritas {
    width: 700px;
    height: 480px;
    float: left;
    margin: 0 auto;
}

#kontent {
    background: #c9c9c9;
    border-radius: 10px;
    height: 450px;
    margin: 5px;
}

#balboritas {
    width: 150px;
    float: left;
    height: 450px;
    margin: 0 auto;
}

#bal {
    background: #90a583;
    border-radius: 10px;
    border: 1px solid #90a583;
    margin: 5px;
    height: 450px;
}

#jobbboritas {
    width: 150px;
    float: left;
    margin: 0 auto;
    
    height: 450px;
}

#jobb {
    background: #90a583;
    border-radius: 10px;
    border: 1px solid #90a583;
    margin: 5px;
    height: 450px;
}

#lablecboritas {
    width: 1000px;
    float: left;
}

#lablec {
    background: #9d8420;
    border-radius: 10px;
    border: 1px solid #9d8420;
    margin: 5px;
}


h1, h2 {
    text-align: center;
    text-decoration: underline;
}

table {
    border: 3px solid black;
    background-color: gray;
    border-radius: 10px;
}

.sidebar {
    width: 138px;
    border-radius: 10px;
    background-color: #593837;
    height: 450px;
    top: 1;
    overflow: hidden;
}

.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #91aa8e;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #998f41;
    color: white;
}

.main {
    margin-top: 30px;
}


table:hover {
    background-color: black;
}

th,
td {
    
    border-radius: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



.navigacio {
    overflow: hidden;
    background-color: #593837;
    
    border-radius: 10px;
  }
  
.navigacio a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.navigacio a:hover {
    background-color: #998f41;
    color: black;
  }
  
.navigacio a.aktiv {
    background-color: #91aa8e;
    color: white;
  }
  
.navigacio .icon {
    display: none;
}

span.egy {
    font-size: xx-large;
}

#kep2 {
    border-radius: 10px;
    border: 1px solid black;
}
  
