* {
  font-family: 'Oswald', sans-serif;
}

fieldset {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}


.pizza {
  font-size: 25px;
  text-align: center;
}

#name, #number {
  font-size: 20px;
}

label {
  font-size: 18px;
}

select {
  width: 350px;
  height: 35px;
  font-size: 20px;
}

.button {
  width: 150px;
  height: 30px;
  display: inline-block;
}

legend {
  font-size: 26px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  font-weight: 800;
  background-color: #5a5e2d;
  color: white;
  text-align: center;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6F732F;
    position: fixed;
    height: 100%;
    overflow: auto;
  }


  .kozep {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #b38a58;
  }

  * {
    color: #0D1F22;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
  }
   
  .sidebar a.active {
    background-color: #264027;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #3C5233;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 570px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

h1.kozep {
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
}

table {
    border: 3px solid black;
    background-color: gray;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    table {
      width: 1%;
    }
  }


.fejlec {
    background-color: #917f44;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -6px;
    padding: 5px 0;
    height: 50px;
}

#kollazs {
    border-radius: 10px;
    box-shadow: 15px 15px 15px 15px #C09F75;
    margin-top: 70px;
    width: 600px;
}


#keplink {
    border-radius: 10px;
    margin-top: 50px;
    width: 800px;
    box-shadow: 15px 15px 15px 15px #C09F75;
}

@media only screen and (max-width: 480px) {
  #keplink {
    width: 100%;
  }

  #kollazs {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #keplink {
    width: 100%;
  }

  #kollazs {
    width: 100%;
  }
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
ul, li, ul {
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
}





